/* index.js */

/* utility classes */

.center{
    display: flex;
    align-self: center;
    align-items: center;
  }
  
  
  
  /* **************************************************************Hero section******************************************************************** */
    .bg-landing {
      display: flex;
        background-image: url('../images/bg.gif');
        width: 100%;
        height: auto;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        justify-content: center;
        align-content: center;
        padding: 30px;
        
    }
   .position{
        display: flex;
        flex-direction: column;
        
    }
  
    .primary-txt{
      align-self: flex-start;
      width: 100%;
    }
  
    .primary-text{
    font-family: 'Montserrat', sans-serif;
    font-size:6vw;
    font-style: normal;
    color: #FFFFFF;
    margin-top: 50px;
    font-weight: 700;
    align-self: flex-end;
    }
    .mt-n{
        margin-top: -27px;
    }
    .mt-n1{
        margin-top: -27px;
    }
  
    
  .secondary-text{
    font-family: 'Montserrat', sans-serif;
    font-size:2vw;
    font-weight: 500;
    color: #FFFFFF;
  }
  
  .third-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: #FFFFFF;
    font-weight: 400;
  
  }
  
  .box{
    display: flex;
    width: 70% !important;
    justify-content: space-between;
    flex-direction: row; 
  }
   
      
     
      
      
   
  /********************** white vertical line***************************/
  
  
  .section{
    height: 2px;
  }
  
  
  
  /*Videosection*/
  .video-section{
    display: flex;
    flex-direction: column;
    background-color: #313131;
    width: 100%;
    height: auto;
    padding: 30px;
    padding-bottom: 20px;
  
  }
  .h1-style{
      align-self: center;
  }
  .sub-video-section{
    display: flex;
    width: 100%;
    padding-left: 50px;
  flex-direction: row;
  justify-content: space-between;
  }
  .aside1{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    justify-self: center;
    align-self: center;
  }
  .aside1-text{
    font-size: 20px;
  
  }
  
  .aside2{
    width: 50vw;
    
  }
  .vid-styling{
    width: 90%;
    height: 90%;
  }
  .h5-style{
    color: #2EBAD3;
    font-size: 1.5vw;
   
  }
  /***************************************************section s2ction css (3p-section)*********************************************************************/
  .section2{
    background-color:#222222;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    text-align: center;
    justify-content: space-evenly !important;
    
  }
  
  .cons{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  
  }
  
  .width-control{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  
  }
  
  .extra-pad{
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  width: 25%;
  }
  .header-text{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 4.5vw;
    text-align: left;
  }
  .text-style{
    color: #2EBAD3;
     font-size: 1.5vw;
     text-align: left !important;
    
  }
  .p-tag{
    text-align:justify;
   
  }
  
  .border-left{
    border-right: 5px solid #8001FB;
    border-spacing: 15px;
    border-collapse: separate;
  
  }
  
  
  /************************************************ section 3 join us on discord section************************************************************  */
  .section3{
    display: flex;
    background-color: #8001FB;
   align-items: center;
    height: auto;
    padding:50px;
    text-align: center;
  }
  .text-styling{
    color: #FFFFFF ;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
  }
  /******************************************************************Nft for change section************************************************************/
  .section4{
    background-color:#222222;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    
  }
  .Change-text{
    font-size: 25px;
}
  
  /*****************************************************************Are you a change maker**********************************************************  */
  .section6{
    background-color:#1F1F1F ;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .mgt{
    margin-top: 70px;
  }
  
  
  /*  ************************************************************************Meet the team *********************************************************/
  .section7{
  
    display: flex;
   align-items: center;
    background-color: #222222;
    height: auto;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  
  .wrapper-grid {
    display: grid;
    grid-template-areas: 
    "a b c"
    "a b c"
    "a b c";
    justify-content: center;
  }
  
  .containe {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0.4rem;
  
  }
  
  .profile-img {
    width: 75%;
    margin-top: 1.7rem;
   height: 75%;
  }
  .name {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    text-align: center;
    width: 100%;
    
   
  }
  .a-link{
      text-decoration: none;
  }
  .description {
    margin: 0.4rem 1rem;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  
  
  /**************************************************************** Let's connect IRl section  ***********************************/
  .section8{
    display: flex;
    background-image: url(../images/Footer.png);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
  text-align: center;
  align-items: center;
  }
  
  /*additional spacing in between section8 amf footer */
  .sectionDiv{
    background-color:#222222;
    height: 10vh;
  
  }
  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* ////////////////////////////////////////////////////////////// MEDIA QUARY BEGINS/////////////////////////////////////////////////////  */
  
  
  
  
  @media (max-width: 576px) { 
  
  
  /* Utility classes */
  
  .center{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
  
  }
    
  /************************************************************* Media Quary Hero section ****************************************************************/
    .secondary-text{
      margin-top: -1px !important;
    }
    .third-text{
      margin-top: -20px;
    }
  
    .btn1 {
     
      width:40vw !important;
      font-size: 10px !important;
    
      }
  
      .btn-width{
        width: 50vw;
        font-size: 10px !important;
      }
  
      .box{
        display: flex;
        width: 100% !important;
        justify-content: space-between;
        flex-direction: row; 
      }

      .mt-n1{
        margin-top: -10px;
    }
  
  /*******************************************************************Vid section**************************************************/
  .video-section{
    display: flex;
    flex-direction: column;
    background-color: #313131;
    width: 100%;
    height: auto;
    padding: 15px;
    padding-bottom: 20px;
    text-align: center
  
  }
  .h1-style{
      align-self: center;
  }
  
  .aside1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
   
   
    
  }
  .aside1-text{
    font-size: 17px;
    text-align: justify !important;
  
  }
  
  .aside2{
    width: 100%;
    
    
  }
  .vid-styling{
    width: 100%;
    height: 90%;
  }
  .h5-style{
    color: #2EBAD3;
    font-size: 4vw;
  
   
  }
  .sub-video-section{
    display: flex;
    flex-direction:column;
    padding-left: 0px;
  }
  
  
  
  
  
  
  
   
   /************************************************media quaty for 3p-section*****************************************/
    .section2{
      background-color:#222222;
      height: auto;
      text-align: center;
      padding: 15px;
      justify-content: space-between;
  
    }
  
    .cons{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
     
    }
  
    .width-control{
      width: 100%;
    } 
    .extra-pad{
      width: 100%;
    }
  
    .header-text{
      text-align: center;
      width: 100% !important;
      font-size: 7vw;
  
    }
  
    .text-style{
      color: #2EBAD3;
         font-size: 4vw;
       text-align: center !important;
    }
    
    .p-tag{
      width: 300px !important;
      font-size: 17px !important;
      text-align: justify;
    }
    .border-left{
      display: none;
      visibility: hidden;
    }
  
    
  /*************************************************************NFT as a Force for change section************************************************/
  
  .section4{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    background-color:#222222;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .Change-text{
    font-size: 20px;
    text-align: center;
}
 
  
  /**************************************************************** Are you a change maker************************************************************/
  
  .realign{
    display: flex;
    flex-direction: column;
    order: revert;
    
  }
  
  
  /******************************************************************Meet the core team****************************************************************/
  
  .name {
  
    font-size: 0.5rem;
  
  }
  
  .description {
    text-align: center !important;
    font-size: 0.5rem;
    width: 100%;
  }
  .profile-img {
    width: 50%;
    margin-top: 1.7rem;
    height: 70%;
  }
  
  
  
  
   
  }
  
  
  @media (max-width: 768px) {
  
  /*Index */
  
  
  /*********************************************************************max-width: 768px Hero section************************************************/
    .box{
      display: flex;
      width: 100% !important;
      justify-content: space-between;
      flex-direction: row; 
    }
    .btn1 {
     
      width:20.9vw !important;
      font-size: 10px !important;
      margin-right: 10px;
    
      }
  
      
      .btn-width{
        width: 30vw !important;
        font-size: 10px !important;
      }
  /**********************************************************3p-section****************************************************/
  .cons{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
   
  }
  
  .width-control{
    width: 100%;
  } 
  .extra-pad{
    width: 100%;
  }
  .header-text{
    text-align: center;
    width: 100% !important;
    font-size: 7vw;
  }
  .text-style{
    color: #2EBAD3;
     text-align: center !important;
     align-self: center !important;
     font-size: 4vw;
     text-align: center !important; 
  }
  
  .p-tag{
    width: 300px;
    font-size: 50px;
    text-align: justify;
  }
  
  
  /*************************************************************************NFt as a force of change*************************************************/
  .section4{
    background-color:#222222;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  /************************************************************Are you a change maker section****************************************************/
  
  
  .mgt{
  
    margin-top: 0px;
  
  }
  
  /*************************************************************Meet the team**********************************************************************/
  
  
  .description {
    margin: 0.4rem 1rem;
    font-size: 0.6rem;
    margin-left: -2px;
  }
  
  .profile-img {
    width: 70%;
    margin-top: 1.7rem;
    height: 50%;
  }
  
  
  
    
   }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 992px) {
  
   
    
    
  
    
  /* index.js */
  
    
  /* Utility classes */
  
  .center{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
  
  }
    
  /*************************************************************** max-width: 992px Hero section**********************************************************/
    .secondary-text{
      margin-top: -1px !important;
    }
    .third-text{
      margin-top: -20px;
    }
  
    
  .btn1 {
     
    width:40vw !important;
    font-size: 10px !important;
  
    }
  
    .box{
      display: flex;
      width: 100% !important;
      justify-content: space-between;
      flex-direction: row; 
    }
  
    .btn-width{
      width: 50vw;
      font-size: 10px !important;
    }
  
  /******************************3p-section**************************************************************/
    .section2{
      background-color:#222222;
      height: auto;
      text-align: center;
      padding: 15px;
  
    }
  
    .cons{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
     
    }
  
  
    .width-control{
      width: 100%;
    } 
    .extra-pad{
      width: 100%;
    }
    .header-text{
      text-align: center;
      width: 100% !important;
      font-size: 7vw;
    }
   
    .text-style{
      color: #2EBAD3;
       text-align: center !important;
       align-self: center !important;
       font-size: 4vw;
       text-align: center !important; 
    }
    
    .p-tag{
      width: 300px !important;
      font-size: 17px !important;
      text-align: justify;
    
  } 
  .border-left{
    display: none;
    visibility: hidden;
  }
   
   
   /**************************************************************Nft as a force for change***************************************************************/
  
  .section4{
    background-color:#222222;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  } 
  
  
  
  /*************************************************************************** Are you a change maker************************************************/
  
  .mgt{
    margin-top: 0px;
  }
    
  }