.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nav.js */
.Nav{
  background-color: 1F1F1F !important;
}

.btn-color{
  background-color: #8001FB !important;
  line-break: none !important;
}
.textD{
  background-color: #2081E2 !important;
  border: none !important;
   
  }
  .CENTER{
    display: flex !important;
    justify-content: center;
    align-items: center;
    
  }
/* index.js */
  .bg-landing {
      background-image: url('./components/images/bg.jpg');
      width: 100%;
      height: 120vh;
      background-position: center;
      background-repeat:no-repeat;
      background-size: cover;
  }
.primary-text{

font-size: 80px;
font-style: normal;
font-weight: 600;
text-align: left;
color: #FFFFFF;
}
.secondary-text{
  font-size: 25px;
  font-family: Montserrat;
  color: #FFFFFF;
}
.third-text{
  font-size: 15px;
  color: #FFFFFF;
}