.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nav.js */
.Nav{
  background-color: #1F1F1F !important;
}

.btn-color{
  background-color: #8001FB !important;
  line-break: none !important;
}
.textD{
  background-color: #2081E2 !important;
  border: none !important;
   
  }
  .CENTER{
    display: flex !important;
    justify-content: center;
    align-items: center;
    
  }
/* index.js */
  .bg-landing {
      background-image: url('./components/images/bg.jpg');
      width: 100%;
      height: 120vh;
      background-position: center;
      background-repeat:no-repeat;
      background-size: cover;
  }
.primary-text{
  font-family: 'Paytone One', sans-serif;
font-size: 80px;
font-style: normal;

text-align: left;
color: #FFFFFF;
}
.secondary-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;

  color: #FFFFFF;
}
.third-text{
  font-size: 15px;
  color: #FFFFFF;
}
.section{
  height: 2px;
}
.section2{
  background-color:#222222;
  height: 120vh;
}
.btn:hover{
  color:black;
}
/*  */
.text-header{
color:  #FFFFFF;
padding-top: 70px;
}

.header-text{
  font-family: 'Paytone One', sans-serif;
  font-size: 80px;
  text-align: left;
  color: #FFFFFF;
}
.text-style{
  color: #2EBAD3;
  font-size: 25px;
}
.vr{
  color:#8001FB ;
  width: 3px !important;
  height: 450px;
}

/*  */
.section3{
  display: flex;
  background-color: #8001FB;
 align-items: center;
  height: 30vh;
  text-align: center;
  
}
.text-styling{
  color: #FFFFFF ;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
}
/*  */
.section4{
  background-color:#222222;
  height: 70vh;
}
.styling{
  color: #FFFFFF;
  
}

/*  */
.section6{
  background-color:#1F1F1F ;
  height: 100vh;
}

/*  */
.section7{

  display: flex;
 align-items: center;
  background-color: #222222;
  height: 180vh;
  flex-direction: column;
}
.color-white{
  color: #FFFFFF;
}
.visibility{
  visibility: hidden;
}


/*  */
.section8{
  display: flex;
  background-image: url(./components/images/Footer.png);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
text-align: center;
align-items: center;
}
.btn-color2{
  color: black;
  background-color: white;
}
.sectionDiv{
  background-color:#222222;
  height: 10vh;

}
/*  */
.footer{
  background-color: #313131;
  height: 50vh;
  
}